<h1>Edit an album</h1>

<%= render 'shared/errors' %>

<div class="form_container">
  <form action="<%= album_url %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="album_band">Band</label>
    <select id="album_band" name="album[band_id]">
      <option disabled <%= @album.band_id.nil? ? "selected" : "" %> >--Select band--</option>
      <% @bands.each do |band| %>
        <option value="<%= band.id %>" <%= @album.band_id == band.id ? "selected" : "" %> ><%= band.name %></option>
      <% end %>
    </select>
    <br>

    <label for="album_title">Title</label>
    <input id="album_title" type="text" name="album[title]" value="<%= @album.title %>">
    <br>

    <label for="album_year">Year</label>
    <input type="number" name="album[year]" value="<%= @album.year %>" min="1900" max="2018">
    <br>

    <div>
      <label for"album_live">Live</label>
      <input id="album_live" type="radio" name="album[studio]" value="false" <%= @album.studio ? "" : "checked" %> >

      <label for="album_studio">Studio</label>
      <input id="album_studio"type="radio" name="album[studio]" value="true" <%= @album.studio ? "checked" : "" %> >
    </div>
    <br>
  </form>
</div>

<div class="button_container">
  <button type="submit" form="edit_album_form">Edit album</button>
</div>

<% content_for :footer do %>
  Album edit page
<% end %>
