<%= render 'shared/errors' %>

<h1>Album: <%= @album.title %></h1>
<h2>By: <a href="<%= band_url(@album.band_id) %>"><%= @album.band.name %></a></h2>
<h2>Year: <%= @album.year %></h2>
<h2>Type: <%= @album.studio ? "Studio" : "Live" %> </h2>

<button>
  <a href="<%= edit_album_url(@album) %>">Edit album</a>
</button>

<form id="delete_album_form" action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
<button type="submit" form="delete_album_form" name="button">Delete album</button>

<br>

<table>
  <tr>
    <th>Track</th>
    <th>Number</th>
    <th>Type</th>
    <th>Page</th>
  </tr>
  <% @album.tracks.each do |track| %>
    <tr>
      <td><%= track.title %></td>
      <td><%= track.ord %></td>
      <td><%= track.bonus ? "Bonus" : "Regular" %></td>
      <td><a href="<%= track_url(track) %>">Link</a></td>
    </tr>
  <% end %>
</table>

<button>
  <a href="<%= new_album_track_url(@album) %>">Create track</a>
</button>

<% content_for :footer do %>
  Album show page
<% end %>
