<%= render 'shared/errors' %>

<h1>Band: <%= @band.name %></h1>

<div class="button_container">
  <button type="submit" form="back_to_bands_form">Back to bands</button>

  <button type="submit" form="edit_band_form">Edit band</button>

  <button type="submit" form="delete_band_form" name="button">Delete band</button>
</div>

<form id="back_to_bands_form" action="<%= bands_url %>" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<form id="edit_band_form" action="<%= edit_band_url(@band) %>" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<form id="delete_band_form" action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<br>

<table>
  <tr>
    <th>Album</th>
    <th>Year</th>
    <th>Type</th>
    <th>Page</th>
  </tr>
  <% @band.albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.year %></td>
      <td><%= album.studio ? "Studio" : "Live" %></td>
      <td><a href="<%= album_url(album) %>">Link</a></td>
    </tr>
  <% end %>
</table>
<br>

<div class="button_container">
  <button type="submit" form="create_album_form">Create album</button>
</div>

<form id="create_album_form" action="<%= new_band_album_url(@band) %>" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<% content_for :footer do %>
  Band show page
<% end %>
