<%= render 'shared/errors' %>

<h1>Band: <%= @band.name %></h1>

<button>
  <a href="<%= bands_url %>">Back to bands</a>
</button>

<br>

<button>
  <a href="<%= edit_band_url %>">Edit band</a>
</button>

<form id="delete_band_form" action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
<button type="submit" form="delete_band_form" name="button">Delete band</button>

<br>
<br>

<table>
  <tr>
    <th>Album</th>
    <th>Year</th>
    <th>Type</th>
    <th>Page</th>
  </tr>
  <% @band.albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.year %></td>
      <td><%= album.studio ? "Studio" : "Live" %></td>
      <td><a href="<%= album_url(album) %>">Link</a></td>
    </tr>
  <% end %>
</table>
<br>

<button>
  <a href="<%= new_band_album_url(@band) %>">Create album</a>
</button>

<% content_for :footer do %>
  Band show page
<% end %>
